<form [formGroup]="preferencesForm">
  <div class="form-group">

             <div class="form-group col-md-8 ">
          <label for="category">Κατηγορίες</label>
          <select class="form-control" formControlName="category" id="category" multiple>
            <option *ngFor="let movieCategory of movieCategories" [ngValue]="movieCategory">{{movieCategory.name}}</option>

          </select>

             </div>

  </div>
  <button [disabled]="!preferencesForm.valid" (click)="submitForm()" class="btn btn-success" title="Submit">
  Submit
  </button>
</form>
