<form [formGroup]="preferencesForm">
  <div class="form-group">


   <!-- <div class="form-group col-md-8 ">
       <label for="lastName">Επώνυμο</label>
       <input type="text" class="form-control" id="lastName" formControlName="lastName"
          /></div>

          <div class="form-group col-md-8 ">
          <label for="amka">ΑΜΚΑ</label>
          <input type="text" class="form-control" id="amka" formControlName="amka"
             /></div>

             <div class="form-group col-md-8 ">
          <label for="mobile">Κινητό</label>
          <input type="text" class="form-control" id="mobile" formControlName="mobile"
             /></div>


             <div class="form-group col-md-8 ">
          <label for="phone">Κινητό</label>
          <input type="text" class="form-control" id="phone" formControlName="phone"
             /></div>-->


             <div class="form-group col-md-8 ">
          <label for="age">Ηλικία</label>
          <input type="text" class="form-control" id="age" formControlName="age"
             /></div>


             <div class="form-group col-md-8 ">
          <label for="category">Κατηγορίες</label>
          <select class="form-control" formControlName="category" id="category" multiple>
            <option *ngFor="let movieCategory of movieCategories" [ngValue]="movieCategory">{{movieCategory.name}}</option>

          </select>

             </div>

  </div>
  <button [disabled]="!preferencesForm.valid" (click)="submitForm()" class="btn btn-success" title="Submit">
  Submit
  </button>
</form>
