<div class="row">
  <div class="col-sm-3 mx-auto">
    <div class="card card-signin my-5">
      <div class="card-body">
        <h5 class="card-title text-center">Είσοδος</h5>

        <form class="form-signin" [formGroup]="loginForm">
          <div class="form-label-group">
            <input
              type="username"
              id="inputUsername"
              class="form-control"
              placeholder="Username"
              required
              autofocus
              formControlName="username"

            />
            <label for="inputUsername">Email</label>
          </div>

          <div class="form-label-group">
            <input
              type="password"
              id="inputPassword"
              class="form-control"
              placeholder="Password"
              required
              formControlName="password"

            />
            <label for="inputPassword">Κωδικός</label>
          </div>

          <button
            class="btn btn-lg btn-primary btn-block text-uppercase mb-3"
            [disabled]="!loginForm.valid"
            type="submit"
            (click)="login()"
          >
            Είσοδος
          </button>
          <button
            class="btn btn-lg btn-primary btn-block text-uppercase mb-3"
            [disabled]="!loginForm.valid"
            type="button"
            (click)="signUp()"
          >
            Εγγραφή
          </button>

        </form>
      </div>
    </div>
  </div>


                <!-- Create exam -->
                <ng-template #template>
                  <div class="modal-header">
                    <h4 class="modal-title pull-left">Φόρμα</h4>

                  </div>
                  <div class="modal-body">

                    <app-preferences-form (isSuc)="onSuccessfulExamCreate($event)">
                    </app-preferences-form>

                    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide();">
                      <span aria-hidden="true">&times;</span>
                    </button>

                  </div>
                </ng-template>
</div>
