<div class="modal-body">

  <h1 class="mb-3">Movies</h1>
  <div class="row">
      <div class="col">
          <table
          id="movieTable"
    datatable
    [dtOptions]="dtOptions"
    [dtTrigger]="dtTrigger"
    class="row-border hover"
  >
              <thead>
                  <tr>
                    <th></th>
                      <th>ID</th>
                      <th>Details</th>
                      <th>
                          Category
                      </th>
                      <th>Director</th>
                      <th>
                          Rating
                      </th>
                      <th>
                        Duration
                    </th>
                    <th>
                      Year
                  </th>
                  <th>
                    Seen
                </th>

                      <!-- <th id="deleteColumn" class="center">
                          Delete
                      </th> -->

                  </tr>
              </thead>
              <tbody *ngIf="movies?.length != 0">
                  <tr *ngFor="let movie of movies">
                    <td><img src={{movie.imageUrl}} alt="Mountain" style="width:200px;height:100px;"></td>
                      <td>{{ movie.id }}</td>
                      <td ><button type="button" (click)="openModal(template, movie);">Details
                      </button></td>
                      <td>
                          {{ movie?.movieCategory?.name }}
                      </td>
                      <td>{{ movie?.director }}</td>
                      <td>
                          {{ movie?.rating }}
                      </td>
                      <td>{{ movie?.duration }}</td>
                      <td>
                          {{ movie?.year }}
                      </td>

                      <td>
                        <button *ngIf="movie.seen === 0" type="button" class="close pull-right" aria-label="Close" (click)="addSeenMovie(movie);">
                          <fa-icon [icon]="faEye" style="color:red" style:focus="green"></fa-icon>
                        </button>
                        <button disabled *ngIf="movie.seen !== 0" type="button" class="close pull-right" aria-label="Close">
                          <fa-icon [icon]="faEye" style="color:green"></fa-icon>
                        </button>
                    </td>






<!--
                      <td class="center">
                          <button (click)="deleteProduct(product.id)" class="btn btn-sm btn-outline-danger">
                              <fa-icon [icon]="faTrash"></fa-icon>
                          </button>
                      </td> -->
                  </tr>
              </tbody>
          </table>
      </div>
  </div>



              <!-- Create exam -->
              <ng-template #template>
                <div class="modal-header">
                  <h4 class="modal-title center">Movie details</h4>

                </div>
                <div class="modal-body">

                  <app-show-movie-details [selectedMovie]="selectedMovie" (isSuc)="onSuccessfulExamCreate($event)">
                  </app-show-movie-details>

                  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide();">
                    <span aria-hidden="true">&times;</span>
                  </button>

                </div>
              </ng-template>


              <div *ngIf="suggestedMovie">
              <div class="card float-right mt-2 mb-2" style="width: 25rem;">
                <div class="card-body">
                  <h5 class="card-title">Suggested movie</h5>
                  <h5 class="card-title">{{suggestedMovie?.title}}</h5>
                  <img class="card-img-top" src={{suggestedMovie?.imageUrl}} alt="Card image cap">
                  <p class="card-text">{{suggestedMovie.description}}</p>
                </div>
              </div>
            </div>


</div>
